<title>cola coffee App</title>

<!DOCTYPE html>
<html lang="ja" >
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>コーラ</title>
  </head>
  <body>
    <!-- ここからタグの紹介をしていきます。（これはコメントアウトです。） -->
    <!-- 画像 -->
    <p>
   
    </p>
    <div style="background: #ffb6c1; border: 1px solid #ffb6c1; padding-left: 20px;"> <span style="color: white;">ファイルをアップロードしてコーラかコーヒーかを判定しよう!</span></div> <div style="border: 1px solid #ffb6c1; font-size: 100%; padding: 20px;"><form method = post enctype = multipart/form-data>
        <p><input type = file name = filename>
        <input type = submit value = 判定> </div>
  </body>
</html>


